CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/ui_mainwindow.h
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/Makefile.Release
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/Makefile.Debug
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/Painter.exe
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/moc_diagramscene.o
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/moc_diagramscene.cpp
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/mainwindow.o
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/main.o
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/diagramscene.o
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/diagramitem.o
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/debug/commands.o
build-Painter-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/.qmake.stash
PaintFigure.pro.user.9daa8a8
PaintFigure.pro.user.fa82d14
PaintFigure.pro.user.0d910db
